.sign-in-content {
    margin-top: 0;
}
.sign-in-icon {
    font-size: 5rem;
}
.input-user label, input {
    /* width: auto; */
}
.edit-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 7px;
    margin: 1em;
    width: 6em;
  }
  .darkField {
    font-family: Avenir, "sans-serif";
    background-color: #2c3e50;
    color: white;
    width: 95%;
    border-radius: 0.25em;
    padding: 7px;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.5em;
  
  }
  
  .darkField h2 {
    font-size: 2em;
  }
  
  .darkField i {
    font-size: 4.5em;
    font-weight: bold;
    color: #fff;
  }
  .account-amount {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .account-amount-description {
    margin: 0;
    font-size: 1em;
  }
  
  .account-title {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
  }
 